{% extends "base.html" %}
{% block content %}
    <p>
        We'll send you email 3 days before your books are due.   
    </p>
    <form method="POST" action=".">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <div align="center">
            <input type="submit" value="Sign up" />
        </div>
    </form>
    {% if bad_login %}
        <p>
        I'm afraid we couldn't log you in. Are you sure you gave us the
        right barcode # and PIN? (Your PIN is usually the last 4 numbers of
        your phone number.)
        </p>
    {% endif %}
    <div align="center">
    <ul class="questions">
        <li><a href="/page/what/">What is this?</a></li>
        <li>|</li>
        <li><a href="/page/safe/">Is it safe?</a></li>
        <li>|</li>
        <li><a href="http://mikedebo.ca">Who made this?</a></li>
    </ul>
    </div>
    <script>
        $(document).ready(function() {
            $("#id_card_number").focus();
        });
    </script>
{% endblock %}
